body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

#cartItems {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.cart-item img {
    max-width: 100px;
    border-radius: 10px;
    margin-right: 20px;
}

.cart-item p {
    margin: 0;
    font-size: 16px;
    color: #555;
    flex: 1;
}

.btn-remove {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-back {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-right: 10px;
    /* Add margin to create space between buttons */
}

.btn-back:last-child {
    margin-right: 0;
    /* Remove margin from the last button to avoid extra space */
}

.btn-back:hover {
    background-color: black;
}

.btn-back:focus {
    outline: none;
}

.btn-back:active {
    background-color: black;
}