body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(13, 13, 13, 0.049);
    backdrop-filter: blur(10px);
    width: 350px;
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    border: 1px solid white;
}

.container:hover {
    transform: translateY(-10px);
}

.inputBox {
    position: relative;
    margin-bottom: 30px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    background: #f0f0f0;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}

.inputBox input:focus {
    background: #e0e0e0;
}

.inputBox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
    color: #999;
}

.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -10px;
    left: 10px;
    color: #2691d9;
    font-size: 12px;
}

input[type="submit"] {
    background: white;
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: rgba(0, 223, 0, 0.648);
    color: white;
}

form p {
    margin-top: 20px;
}

form p a {
    color: #2691d9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

form p a:hover {
    color: #1e7bbd;
}

header {
    background: #2691d9;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ffeb3b;
}